@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/Futura/Futura\ Book\ font.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/Futura/futura\ medium\ bt.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/Futura/futura\ medium\ bt.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Futura";
}

.sketch-bg {
  background-image: url("/sketch-bg.png");
  background-size: 1200px;

  background-repeat: no-repeat;
}

.sketch-bg-norepeat {
  background-image: url("/sketch-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.sketch-bg-dividend {
  background-image: url("/sketch-house.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sketch-bg-stock {
  background-image: url("/sketch-house.png");
  background-size: 1400px;
  background-position: 100px 400px;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  margin: 2em;
  padding: 0;
}

.diamond {
  margin: 0 !important;
}
.diamond > li {
  margin: 0 !important;
  padding-left: 1.5em;
  position: relative;
}
.diamond > li::after {
  content: "";
  height: 0.55em;
  width: 0.55em;
  background: #163e82;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 0.25em;
  left: 0;
}

.bg-gradient-effect {
  background: linear-gradient(
    to top,
    rgba(6, 46, 113, 0.8) 25%,
    rgba(255, 255, 255, 0)
  );
}

@keyframes zoom-out {
  from {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}

.animateBg {
  animation: zoom-out 5s ease-in-out forwards;
}
